language: java
jdk:
  - oraclejdk8

before_install:
  - chmod +x gradlew

deploy:
  provider: releases
  api_key: "$OAUTH_TOKEN"
  file: "build/libs/flightdemo-1.0-SNAPSHOT.jar"
  skip_cleanup: true
  on:
    tags: true